<!-- <p>vehicles works!</p> -->

<input type="text" [(ngModel)]="searchkeyword" (keyup)="search()">
<select [(ngModel)]="coloumname">
    <option value="vehicle">Vehicle Name</option>
    <option value="manufacturer">Manufacture</option>
    <option value="color">Color</option>
    <option value="cost">Cost</option>
</select>
<select [(ngModel)]="sortorder">
    <option value="asc">asscending order</option>
    <option value="desc">decending order</option>
</select>
<button class="btn btn-warning" (click)="sort()">sort</button>

<!-- pagination -->
 <select [(ngModel)]="items">
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
 </select>

 <select [(ngModel)]="pagenumber">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
 </select>
 <button class="btn btn-success" (click)="pagination()">pagination</button>


 <table class="table table-dark">
    <thead>
        <tr>
            <th>Vehicle Name</th>
            <th>Manufacture</th>
            <th>Color</th>
            <th>Cost</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Image</th>
            <th callspan="3">action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost |rupee }}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td><img src="{{vehicle.image}}" alt="" height="100px" width="150px"></td>
            <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)">delete</button>
            </td>
            <td>
                <button class="btn btn-primary" routerLink="/dashboard/vehicle-details/{{vehicle.id}}">view</button>
            </td>
            <td>
                <button class="btn btn-warning" routerLink="/dashboard/edit-vehicle/{{vehicle.id}}">edit</button>
            </td>
        </tr>
    </tbody>
 </table>
