<!-- <p>flipkart works!</p>/ -->
 <div class="parent">
    <div class="card" *ngFor="let flipkart of flipkarts">
        <p><img src="{{flipkart.image}}" alt=""></p>
        <h4>{{flipkart.category}}</h4>
        <h4 style="color: steelblue;">{{flipkart.title}}</h4>
        <h6 style="color: red;">RS{{flipkart.price}}</h6>
        <!-- <h6>{{flipkart.rate}}</h6> -->
        <!-- <h6>{{flipkart.id}}</h6> -->
         <div class="rating"><app-rating [rating]="flipkart.rating.rate"></app-rating></div>
          <!-- <h6 class="rate"><app-rating [rating]="flipkart.rating.rate"></app-rating></h6> -->
    </div>
 </div>
