<div class="parent">
    <div class="left">
        <h1>my website</h1> 
        <h2 routerLink="/dashboard/home">home</h2>
        <!-- <h2 routerLink="/dashboard/gallery">gallery</h2> -->
        <h2 routerLink="/dashboard/welcome">welcome</h2>
        <h2 routerLink="/dashboard/data-binding">data binding</h2>
        <h2 routerLink="/dashboard/calcultor">calcultor</h2>
        <h2 routerLink="/dashboard/rectangle">rectangle</h2>
        <h2 routerLink="/dashboard/circle">circle</h2>
        <h2 routerLink="/dashboard/bmi">bmi</h2>
        <h2 routerLink="/dashboard/directives">directives</h2>
        <h2 routerLink="/dashboard/employee">employee</h2>
        <h2 routerLink="/dashboard/products">products</h2>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
    
</div>