<!-- <p>idcard-details works!</p> -->
 <div class="card">
        <img class="img1" src="{{cards.school_logo}}" alt="">
        <h6>{{cards.school_name}}</h6>
        <h6><img class="img2" src="{{cards.profile_picture}}" alt=""></h6>
        <h6><b>name:</b>{{cards.name}}</h6>
        <h6><b>phone:</b>{{cards.phone}}</h6>
        <h6><b>city:</b>{{cards.city}}</h6>
        <h6><b>dob:</b>{{cards.dob}}</h6>
        <h6><b>email:</b>{{cards.email}}</h6>
        <h6><b>city:</b>{{cards.school_city}}</h6>
        <h6><b>pin:</b>{{cards.school_pin}}</h6>
        <h6><b>id:</b>{{cards.id}}</h6>
</div>